/* admin_main.css (Depurado) */

/* estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid rgb(21, 21, 21);
}

th {
    background-color: rgba(199, 161, 80); /* var(--clr-gold) */
    font-weight: 600;
    color: #ffffff;
}

td {
    color: #555;
}

.acciones {
    /* Mantenemos solo el estilo específico de la acción si lo hay */
    background-size: contain;
    border: none;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.editar_articulo, .eliminar_articulo{
    color: goldenrod;
    flex: 1;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--clr-gold);
    background-color: transparent;
}
/* ... otros estilos específicos de la tabla si existen ... */