/* layout_base.css */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* ===== VARIABLES Y RESET ===== */
:root {
    --clr-main: RGB(30, 30, 30);
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --clr-gold: rgba(199, 161, 80);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ===== LAYOUT PRINCIPAL Y HEADER SUPERIOR ===== */
.header-top {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: RGB(21, 21, 21);
    color: var(--clr-white);
    padding: 1rem 2rem;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border: none;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* Estilos de la búsqueda y botones de perfil */
.search-form {
    display: flex;
    align-items: center;
    background-color: var(--clr-white);
    border-radius: 2rem;
    overflow: hidden;
    max-width: 500px;
    width: 100%;
}

.search-input {
    flex: 1;
    padding: 0.6rem 1rem;
    border: none;
    outline: none;
    font-size: 0.9rem;
    color: var(--clr-main);
}
.button-menu-header{
    flex: 1;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--clr-gold);
    background-color: transparent;
}
.button-menu-header:hover{
    color: goldenrod;
    cursor: pointer;
}

.search-button {
    background-color: var(--clr-gold);
    border: none;
    padding: 0.6rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-main);
    font-size: 1rem;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: goldenrod;
}


/* ===== WRAPPER Y ASIDE (Barra Lateral) ===== */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(21, 21, 21);
}

aside {
    padding: 2rem;
    padding-right: 0;
    background-color: rgba(21, 21, 21);
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.logo {
    max-width: 50%;
    border-radius: 1rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

/* Estilos para el enlace activo */
.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.texto-footer {
    color: var(--clr-gold);
    font-size: .85rem;
}

/* Estilo para el contenedor dinámico */
main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
    transition: opacity 0.3s ease-in-out; /* Agregar transición de fluidez */
}

/* Opcional: Estilo para indicar carga */
.loading-spinner {
    text-align: center;
    padding: 50px;
    font-size: 1.5rem;
    color: var(--clr-main);
}