{% load static %}
<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fashion Store</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <link rel="stylesheet" href="{% static 'css/add_articulo.css' %}">
    </head>

    <body>    
        <div class="wrapper">
            <aside>
                <button class="close-menu" id="close-menu">
                    <i class="bi bi-x"></i>
                </button>
                <header>
                    <a href="{% url 'index' %}" aria-label="Ir al index">
                        <img src="../static/images/logo.png" alt="logo" class="logo">
                    </a>
                </header>
                <nav>
                    <ul class="menu">
                        <li>
                            <a href="{% url 'articulos' %}" class="boton-menu boton-categoria "><i class="bi bi-hand-index-thumb-fill"></i> Productos</a>
                            <a href="{% url 'add_articulo' %}" class="boton-menu boton-categoria active"><i class="bi bi-plus-circle"></i> Agregar Artículo</a>
                            <a href="{% url 'usuarios' %}" class="boton-menu boton-categoria"> <i class="bi bi-person-circle"></i> Usuarios </a>
                        </li>
                    </ul>
                </nav>
                <footer>
                    <p class="texto-footer">© 2025 Fashion Store</p>
                    <p>
                        <a href="https://jigsaw.w3.org/css-validator/check/referer">
                        <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="¡CSS Válido!">
                        </a>
                    </p>
                </footer>
            </aside>

            <main>
                <div class="form-container">
                    <h2>Agregar Nuevo Artículo</h2>
                    <form id="form-articulos" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" required>
                            <div class="error-message"></div>

                            <label for="descripcion">Descripción:</label>
                            <textarea id="descripcion" name="descripcion" required></textarea>
                            <div class="error-message"></div>

                            <label for="precio">Precio:</label>
                            <input type="number" id="precio" name="precio" step="0.01" required>
                            <div class="error-message"></div>

                            <label for="categoria">Categoría:</label>
                            <select name="categoria" id="categoria">
                                <option value="">Selecciona</option>
                                <option value="Ropa">Ropa</option>
                                <option value="Accesorios">Accesorios</option>
                            </select>
                            <div class="error-message"></div>

                            <label for="subcategoria">Tipo de prenda:</label>
                            <select name="subcategoria" id="subcategoria">
                                <option value="">Selecciona tipo de subcategoria</option>
                                <option value="camisas">Camisas</option>
                                <option value="playeras">Playeras</option>
                                <option value="sudaderas">Sudaderas</option>
                                <option value="collares">Collares</option>
                                <option value="tenis">Tenis</option>
                            </select>
                            <div class="error-message"></div>

                            <label for="stock">Stock:</label>
                            <input type="number" id="stock" name="stock" required>
                            <div class="error-message"></div>

                            <label for="genero">Genero:</label>
                            <input type="text" id="genero" name="genero" required>
                            <div class="error-message"></div>

                            <label for="imagen">Imagen:</label>
                            <input type="file" id="imagen" name="imagen" accept="image/*" required>
                            <div class="error-message"></div>
                     
                        </div>
                        <button type="submit" class="btn-submit">Agregar Artículo</button>
                    </form>
                </div>
            </main>
        </div>
        <script src="{% static 'js/add_articulo.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/just-validate@4.3.0/dist/just-validate.production.min.js"></script>
    </body>
</html>