<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tienda</title>
    </head>

    <body>
        <h1>Bienvenido a la Tienda</h1>
        
        <form action="/main/crear_usuario/" method="POST">
            {% csrf_token %}
            <input type="text" name="nombre" id="" placeholder="Nombre Completo">
            <input type="text"  name="apellidoP" id="" placeholder="Apellido Paterno">
            <input type="text" name="apellidoM" id="" placeholder="Apellido Materno">
            <input type="tel" name="numero" pattern="[0-9]{10}" maxlength="10" placeholder="Número Telefónico">
            <input type="email" name="email" id="" placeholder="Correo Electrónico">
            <input type="password" name="password" id="" placeholder="Contraseña">
            <button>Guardar</button>
        </form>
    </body>
    
</html>